/* NAVBAR */

.navbarbutton:hover {
    background-color: white;
    color: black;
}

/* MAINONE */

.mainbuttontryforfree:hover {
    color: black;
    border: 1px solid black;
    background-color: white;
}

.mainbuttonlearnmore:hover {
    background-color: white;
    color: black;
}

/* MAINTREE */

.maintreebutton:hover {
    background-color: white;
    color: black;
}

/* MAINFOR */

.mainforbutton:hover {
    background-color: white;
    color: black;

}

/* ANIMATION */

/* IMAGENSGALLERY */

.maintreephotosone img:hover {
    transform: scale(1.1);
}

.maintreephotostwo img:hover {
    transform: scale(1.08);
}

/* IMAGENSICONSREDES */

.mainforimages img:hover {
    transform: scale(1.1);
}

/* LINHANAVBAR */

.navbarmenu a .navbarmenuline {
    position: absolute;
    top: 75px;
    width: 1px;
    transition: all 0.5s;
    height: 1px;
    border: 0px solid blue;
    transform: scalex(1);
}

 .navbarmenu a:hover .navbarmenuline{
    width: 28px;
    height: 3px;
    border: 1px solid white;
    transform: scalex(1.8);
    background-color: white;
}

.navbarmenu.on a:hover{
    color: blue;
}